main {
    background-color: #01090D;
}

body {
    margin: 0;
}

.camera {
    position: relative;
    height: 100vh;
    width: 100vw;
    transition: all .5s ease-in-out;
}

.abs-round {
    position: absolute;
    border-radius: 100%;
}

.planet:hover {
    box-shadow: 0px 0px 15px 10px rgb(252, 150, 1, 0.8);
    cursor: pointer;
}
/*
.planet:before {
    width: 110%;
    height: 110%;
    transform: translate(-5%, -5%);
    border-radius: 100%;
    border: white solid 1px;
    content: "";
    display: block;
}
*/

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sun {
    background-color: #F3D811;
    box-shadow: 0px 0px 99px 58px rgb(252, 150, 1, 0.8);
}

.ellipse {
    border: gray solid 1px;
}

#pienerth {
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #47d3ff 7px), repeating-linear-gradient(#474bff, #474bff);
    background-color: #47d3ff;
}
